name: flutter-build-ipa

on:
  workflow_dispatch:
    inputs:
      version-code:
        description: Version code. e.g. 1.0.3+7
        required: false
        type: string
      flavor:
        description: Flavor. e.g. dev, prod
        required: false
        type: string
      obfuscate:
        description: Obfuscate
        type: boolean
        default: true
      environment:
        description: Environment
        type: string
        default: staging
      app-name:
        description: App Name
        type: string
        default: App Name
        required: true
      ipa-artifact-name:
        description: IPA Artifact Name
        type: string
        default: IPA Artifact Name
        required: true
      runner:
        description: Runner
        type: string
        default: macos-latest
        required: false
      bundle-id:
        description: App Bundle ID
        type: string
        default: com.exchanger101.app
        required: false
      pre-build-script:
        description: Pre-build script
        type: string
        required: false
  workflow_call:
    inputs:
      version-code:
        description: Version code. e.g. 1.0.3+7
        required: false
        type: string
      flavor:
        description: Flavor. e.g. dev, prod
        required: false
        type: string
      obfuscate:
        description: Obfuscate
        type: boolean
        default: true
      environment:
        description: Environment
        type: string
        default: staging
      app-name:
        description: App Name
        type: string
        default: App Name
        required: true
      ipa-artifact-name:
        description: IPA Artifact Name
        type: string
        default: IPA Artifact Name
        required: true
      runner:
        description: Runner
        type: string
        default: macos-latest
        required: false
      bundle-id:
        description: App Bundle ID
        type: string
        default: com.exchanger101.app
        required: false
      pre-build-script:
        description: Pre-build script
        type: string
        required: false
    secrets:
      APP_ENV:
        description: App Environment
        required: false
      SLACK_WEBHOOK_URL:
        description: Slack Webhook URL
        required: false
      CERT_REPO_SSH_PRIVATE_KEY:
        description: Certificate Repository SSH Private Key
        required: false
      MATCH_PASSWORD:
        description: Match Password
        required: false
      GOOGLE_SERVICES_INFO_FILE:
        description: Google Services Info File
        required: false

jobs:
  build-ios:
    runs-on: ${{ inputs.runner }}
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v2

      - name: Setup Xcode 16
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.2.0"

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: "stable"

      - if: ${{ inputs.pre-build-script != '' }}
        name: Run Pre-build Script
        run: bash ${{ inputs.pre-build-script }}

      - name: flutter-version-number
        uses: NiklasLehnfeld/flutter-version-number-action@v1
        id: read-version

      - name: Install GNU Sed
        if: ${{ inputs.version-code != '' }}
        run: |
          brew install gnu-sed
          echo "$(brew --prefix)/opt/gnu-sed/libexec/gnubin" >> $GITHUB_PATH

      - if: ${{ inputs.version-code != '' }}
        name: Bump Version Codes
        run: "sed -i 's/version: ${{ steps.read-version.outputs.version-number }}/version: ${{ inputs.version-code }}/g' pubspec.yaml"

      - name: Install Dependencies
        run: flutter pub get

      - name: Delete Podspec Lock
        run: rm -rf ios/Podfile.lock

      - name: Pod Install
        run: cd ios && pod deintegrate && pod install

      - name: Run Code Generators
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Prepare ENV File
        run: echo "${{ secrets.APP_ENV }}" | base64 --decode > .env

      - name: Prepare Google Services Info File
        env:
          GOOGLE_SERVICES_INFO_FILE: ${{ secrets.GOOGLE_SERVICES_INFO_FILE }}
        if: ${{ env.GOOGLE_SERVICES_INFO_FILE != '' }}
        run: |
          rm -f ios/Runner/GoogleService-Info.plist
          echo "${GOOGLE_SERVICES_INFO_FILE}" | base64 --decode > ios/Runner/GoogleService-Info.plist

      - name: Install Firebase Tools
        run: curl -sL https://firebase.tools | bash

      - name: Install FlutterFire CLI
        run: dart pub global activate flutterfire_cli

      - if: ${{ inputs.flavor == '' }}
        name: Build Normal Unsigned iOS Application
        run: flutter build ios --release --obfuscate --no-codesign --split-debug-info=${{ github.workspace }}/build/app/outputs/symbols

      - if: ${{ inputs.flavor != '' }}
        name: Build Flavored iOS Application
        run: flutter build ios --obfuscate --no-codesign --release --flavor ${{ inputs.flavor }} -t lib/main_${{ inputs.flavor }}.dart --split-debug-info=${{ github.workspace }}/build/app/outputs/symbols

      - name: Decode SSH Key
        run: echo "${{ secrets.CERT_REPO_SSH_PRIVATE_KEY }}" | base64 --decode > ios/fastlane/cert_repo_ssh_key

      - name: Set Key Permissions
        run: chmod 600 ios/fastlane/cert_repo_ssh_key

      - name: Prepare App Store Connect Credential
        run: |
          echo "${{ secrets.APPSTORE_CONNECT_JSON_BASE64 }}" | base64 --decode > ios/fastlane/api.json

      - name: Install the Apple certificate, provisioning profile, and Build IPA
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          BUNDLE_ID: ${{ inputs.bundle-id }}
        run: cd ios && fastlane export_and_sign flavor:${{ inputs.flavor }} ipa_name:${{ inputs.app-name }}

      - name: Upload DSYMs to Firebase
        run: |
          ios/Pods/FirebaseCrashlytics/upload-symbols -gsp ${{ github.workspace }}/ios/Runner${{ format('{0}{1}', inputs.flavor != '' && '/' || '', inputs.flavor ) }}/GoogleService-Info.plist -p ios ${{ github.workspace }}/build/ios/ipa/${{ inputs.app-name }}.app.dSYM.zip

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.ipa-artifact-name }}${{ format('{0}{1}', inputs.flavor != '' && '-' || '', inputs.flavor) }}
          path: ./build/ios/ipa/${{ inputs.app-name }}.ipa

      - name: Upload BOM Artifact
        uses: actions/upload-artifact@v4
        with:
          name: bom
          path: ./pubspec.lock

      - name: Clean Up App Store Connect Credentials
        if: ${{ always() }}
        run: rm -f ios/fastlane/api.json

      - name: The job has failed
        if: ${{ failure() && inputs.flavor == '' }}
        uses: rtCamp/action-slack-notify@v2.2.0
        env:
          SLACK_MESSAGE: "IPA Build for `${{ github.event.repository.name }}` :ios: failed :x:."
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
