name: flutter-build-ipa

on:
  workflow_dispatch:
    inputs:
      version-code:
        description: Version code. e.g. 1.0.3+7
        required: false
        type: string
      flavor:
        description: Flavor. e.g. dev, prod
        required: false
        type: string
      obfuscate:
        description: Obfuscate
        type: boolean
        default: true
      environment:
        description: Environment
        type: string
        default: staging
      app-name:
        description: App Name
        type: string
        default: App Name
        required: true
      ipa-artifact-name:
        description: IPA Artifact Name
        type: string
        default: IPA Artifact Name
        required: true
      config:
        description: JSON Config Content.
        required: false
        type: string
      bundle-id:
        description: App Bundle ID
        type: string
        default: com.exchanger101.app
        required: false
      pre-build-script:
        description: Pre-build script
        type: string
        required: false
      gen-l10n:
        description: Generate Localization Files
        type: boolean
        default: true
  workflow_call:
    inputs:
      version-code:
        description: Version code. e.g. 1.0.3+7
        required: false
        type: string
      flavor:
        description: Flavor. e.g. dev, prod
        required: false
        type: string
      obfuscate:
        description: Obfuscate
        type: boolean
        default: true
      environment:
        description: Environment
        type: string
        default: staging
      app-name:
        description: App Name
        type: string
        default: App Name
        required: true
      ipa-artifact-name:
        description: IPA Artifact Name
        type: string
        default: IPA Artifact Name
        required: true
      config:
        description: JSON Config Content.
        required: false
        type: string
      bundle-id:
        description: App Bundle ID
        type: string
        default: com.exchanger101.app
        required: false
      pre-build-script:
        description: Pre-build script
        type: string
        required: false
      gen-l10n:
        description: Generate Localization Files
        type: boolean
        default: true
    secrets:
      APP_ENV:
        description: App Environment
        required: false
      SLACK_WEBHOOK_URL:
        description: Slack Webhook URL
        required: false
      CERT_REPO_SSH_PRIVATE_KEY:
        description: Certificate Repository SSH Private Key
        required: false
      MATCH_PASSWORD:
        description: Match Password
        required: false
      GOOGLE_SERVICES_INFO_FILE:
        description: Google Services Info File
        required: false
      GEMINI_API_KEY:
        description: Gemini API Key
        required: false

jobs:
  build-ios:
    runs-on: ${{ fromJson(inputs.config).runner || 'macos-latest' }}
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v2

      - if: ${{ inputs.config != '' }}
        name: Parse config
        run: |
          echo '${{ inputs.config }}' | jq .

          CONFIG='${{ inputs.config }}'

          L10N_SOURCE_FILE=$(echo "$CONFIG" | jq -r '.l10n_source_file')
          L10N_TARGET_FILES=$(echo "$CONFIG" | jq -r '.l10n_target_files')
          L10N_LANGUAGE_CODES=$(echo "$CONFIG" | jq -r '.l10n_language_codes')

          echo "L10N_SOURCE_FILE=$L10N_SOURCE_FILE" >> $GITHUB_ENV
          echo "L10N_TARGET_FILES=$L10N_TARGET_FILES" >> $GITHUB_ENV
          echo "L10N_LANGUAGE_CODES=$L10N_LANGUAGE_CODES" >> $GITHUB_ENV

      - name: Setup Xcode 17
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "17.2.0"

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: "stable"

      - if: ${{ inputs.pre-build-script != '' }}
        name: Run Pre-build Script
        run: bash ${{ inputs.pre-build-script }}

      - name: flutter-version-number
        uses: NiklasLehnfeld/flutter-version-number-action@v1
        id: read-version

      - name: Install GNU Sed
        if: ${{ inputs.version-code != '' }}
        run: |
          brew install gnu-sed
          echo "$(brew --prefix)/opt/gnu-sed/libexec/gnubin" >> $GITHUB_PATH

      - if: ${{ inputs.version-code != '' }}
        name: Bump Version Codes
        run: "sed -i 's/version: ${{ steps.read-version.outputs.version-number }}/version: ${{ inputs.version-code }}/g' pubspec.yaml"

      - name: Install Dependencies
        run: flutter pub get

      - name: Delete Podspec Lock
        run: rm -rf ios/Podfile.lock

      - name: Pod Install
        run: cd ios && pod deintegrate && pod install

      - name: Run Code Generators
        run: dart run build_runner build --delete-conflicting-outputs

      - if: ${{ env.L10N_SOURCE_FILE != '' && env.L10N_TARGET_FILES != '' && env.L10N_LANGUAGE_CODES != '' && inputs.gen-l10n }}
        name: Generate ARB files
        uses: francis94c/flutter-localization-action@v1
        with:
          source_file: ${{ env.L10N_SOURCE_FILE }}
          target_file: ${{ env.L10N_TARGET_FILES }}
          target_lang_code: ${{ env.L10N_LANGUAGE_CODES }}
          gemini_api_key: ${{ secrets.GEMINI_API_KEY }}
          parallel: true

      - if: ${{ inputs.gen-l10n }}
        name: Generate localization files
        run: flutter gen-l10n

      - name: Prepare ENV File
        run: echo "${{ secrets.APP_ENV }}" | base64 --decode > .env

      - name: Prepare Google Services Info File
        env:
          GOOGLE_SERVICES_INFO_FILE: ${{ secrets.GOOGLE_SERVICES_INFO_FILE }}
        if: ${{ env.GOOGLE_SERVICES_INFO_FILE != '' }}
        run: |
          rm -f ios/Runner/GoogleService-Info.plist
          echo "${GOOGLE_SERVICES_INFO_FILE}" | base64 --decode > ios/Runner/GoogleService-Info.plist

      - name: Install Firebase Tools
        run: curl -sL https://firebase.tools | bash

      - name: Install FlutterFire CLI
        run: dart pub global activate flutterfire_cli

      - if: ${{ inputs.flavor == '' }}
        name: Build Normal Unsigned iOS Application
        run: flutter build ios --release --obfuscate --no-codesign --split-debug-info=${{ github.workspace }}/build/app/outputs/symbols

      - if: ${{ inputs.flavor != '' }}
        name: Build Flavored iOS Application
        run: flutter build ios --obfuscate --no-codesign --release --flavor ${{ inputs.flavor }} -t lib/main_${{ inputs.flavor }}.dart --split-debug-info=${{ github.workspace }}/build/app/outputs/symbols

      - name: Decode SSH Key
        run: echo "${{ secrets.CERT_REPO_SSH_PRIVATE_KEY }}" | base64 --decode > ios/fastlane/cert_repo_ssh_key

      - name: Set Key Permissions
        run: chmod 600 ios/fastlane/cert_repo_ssh_key

      - name: Prepare App Store Connect Credential
        run: |
          echo "${{ secrets.APPSTORE_CONNECT_JSON_BASE64 }}" | base64 --decode > ios/fastlane/api.json


      - if: ${{ inputs.flavor == '' }}
        name: Install the Apple certificate, provisioning profile, and Build IPA (Normal)
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          BUNDLE_ID: ${{ inputs.bundle-id }}
        run: cd ios && fastlane export_and_sign ipa_name:"${{ inputs.app-name }}"

      - if: ${{ inputs.flavor != '' }}
        name: Install the Apple certificate, provisioning profile, and Build IPA (Flavored)
        env:
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
          BUNDLE_ID: ${{ inputs.bundle-id }}
        run: cd ios && fastlane export_and_sign flavor:${{ inputs.flavor }} ipa_name:"${{ inputs.app-name }}"

      - name: Upload DSYMs to Firebase
        run: |
          ios/Pods/FirebaseCrashlytics/upload-symbols -gsp ${{ github.workspace }}/ios/Runner${{ format('{0}{1}', inputs.flavor != '' && '/' || '', inputs.flavor ) }}/GoogleService-Info.plist -p ios "${{ github.workspace }}/build/ios/ipa/${{ inputs.app-name }}.app.dSYM.zip"

      - name: Upload IPA Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.ipa-artifact-name }}${{ format('{0}{1}', inputs.flavor != '' && '-' || '', inputs.flavor) }}
          path: ./build/ios/ipa/${{ inputs.app-name }}.ipa

      - name: Upload BOM Artifact
        uses: actions/upload-artifact@v4
        with:
          name: bom
          path: ./pubspec.lock

      - name: Clean Up App Store Connect Credentials
        if: ${{ always() }}
        run: rm -f ios/fastlane/api.json

      - name: The job has failed
        if: ${{ failure() && inputs.flavor == '' }}
        uses: rtCamp/action-slack-notify@v2.2.0
        env:
          SLACK_MESSAGE: "IPA Build for `${{ github.event.repository.name }}` :ios: failed :x:."
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
