name: push-aab-to-google-play-store

on:
  workflow_call:
    inputs:
      aab-artifact-name:
        description: AAB Artifact Name.
        required: false
        type: string
      app-id:
        description: App ID.
        required: true
        type: string
      track:
        description: Track.
        required: true
        type: string
      status:
        description: Status.
        required: true
        type: string
      merged-native-libs-symbols-artifact-name:
        description: Merged Native Libs Symbols Artifact Name
        required: false
        type: string
      environment:
        description: Environment.
        required: false
        type: string
      runner:
        description: Runner.
        required: false
        default: ubuntu-latest
        type: string
      config:
        description: JSON Config Content.
        required: false
        type: string
      gcs-bucket-name:
        description: GCS Bucket Name
        required: false
        type: string
      service-account-name:
        description: Service Account Name
        required: false
        type: string
    secrets:
      GITHUB_ENV_TOKEN:
        description: GITHUB_ENV_TOKEN
        required: true
      GOOGLE_PLAY_SERVICE_ACCOUNT_JSON_CONTENT:
        description: GOOGLE_PLAY_SERVICE_ACCOUNT_JSON_CONTENT
        required: true
      SLACK_WEBHOOK_URL:
        description: SLACK_WEBHOOK_URL
        required: true

jobs:
  download-latest-release-or-artifact-and-push-to-google-play:
    environment: ${{ inputs.environment }}
    runs-on: ${{ fromJson(inputs.config).runner || 'ubuntu-latest' }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v1

      - if: ${{ inputs.config != '' }}
        name: Parse config
        run: |
          echo '${{ inputs.config }}' | jq .

          CONFIG='${{ inputs.config }}'

          GCP_PROJECT_ID=$(echo "$CONFIG" | jq -r '.gcp_project_id')
          GCP_PROJECT_NUMBER=$(echo "$CONFIG" | jq -r '.gcp_project_number')
          VERSION_CODE=$(echo "$CONFIG" | jq -r '.version_code')
          FLAVOR=$(echo "$CONFIG" | jq -r '.flavor')
          PROMOTION_SUBJECT_ENVIRONMENT=$(echo "$CONFIG" | jq -r '.promotion_subject_environment')

          echo "GCP_PROJECT_ID=$GCP_PROJECT_ID" >> $GITHUB_ENV
          echo "GCP_PROJECT_NUMBER=$GCP_PROJECT_NUMBER" >> $GITHUB_ENV
          echo "VERSION_CODE=$VERSION_CODE" >> $GITHUB_ENV
          echo "FLAVOR=$FLAVOR" >> $GITHUB_ENV
          echo "PROMOTION_SUBJECT_ENVIRONMENT=$PROMOTION_SUBJECT_ENVIRONMENT" >> $GITHUB_ENV

      - if: ${{ inputs.gcs-bucket-name == '' || inputs.service-account-name == '' }}
        name: Download AAB Artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.aab-artifact-name }}

      - if: ${{ inputs.gcs-bucket-name == '' || inputs.service-account-name == '' }}
        name: Download Mapping Artifact
        uses: actions/download-artifact@v4
        with:
          name: mapping

      - if: ${{ inputs.gcs-bucket-name == '' || inputs.service-account-name == '' }}
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.merged-native-libs-symbols-artifact-name }}

      - name: LS
        run: ls -la

      - if: ${{ inputs.gcs-bucket-name != '' && inputs.service-account-name != '' }}
        name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          token_format: 'access_token'
          workload_identity_provider: 'projects/${{ env.GCP_PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: '${{ inputs.service-account-name }}@${{ env.GCP_PROJECT_ID }}.iam.gserviceaccount.com'

      - if: ${{ inputs.gcs-bucket-name != '' && inputs.service-account-name != '' }}
        name: Setup GCloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - if: ${{ inputs.gcs-bucket-name != '' && inputs.service-account-name != '' }}
        name: Resolve environment folder in GCS to pull assets from
        run: |
          echo "PULL_ENVIRONMENT=${{ env.PROMOTION_SUBJECT_ENVIRONMENT != '' && env.PROMOTION_SUBJECT_ENVIRONMENT || inputs.environment  }}" >> $GITHUB_ENV

      - if: ${{ inputs.gcs-bucket-name != '' && inputs.service-account-name != '' }}
        name: Download AAB from GCS
        run: |
          gsutil cp gs://${{ inputs.gcs-bucket-name }}/releases/${{ env.PULL_ENVIRONMENT }}/app-${{ env.VERSION_CODE }}.aab ./app-release.aab

      - if: ${{ inputs.gcs-bucket-name != '' && inputs.service-account-name != '' }}
        name: Download Mapping from GCS
        run: |
          gsutil cp gs://${{ inputs.gcs-bucket-name }}/releases/${{ env.PULL_ENVIRONMENT }}/mapping-${{ env.VERSION_CODE }}.txt ./mapping.txt

      - if: ${{ inputs.gcs-bucket-name != '' && inputs.service-account-name != '' }}
        name: Download Merged Native Libs Symbols from GCS
        run: |
          gsutil cp gs://${{ inputs.gcs-bucket-name }}/releases/${{ env.PULL_ENVIRONMENT }}/symbols-${{ env.VERSION_CODE }}.zip ./symbols.zip
      
      - if: ${{ inputs.gcs-bucket-name == '' && inputs.service-account-name == '' && env.FLAVOR != ''}}
        name: Normalize Release File Names (AAB and Mapping Artifact)
        run: |
          mv ./app-${{ env.FLAVOR }}-release.aab ./app-release.aab

      - name: Extract Flutter Debug Symbols
        run: unzip -q ./symbols.zip -d symbols

      - name: "Check Release Notes Existence"
        id: release_notes_exists
        uses: andstor/file-existence-action@v2
        with:
          files: "./RELEASE_NOTES.txt"
          fail: false

      - name: Create what's new directory and copy Release Notes
        run: mkdir whatsnew && cp ./RELEASE_NOTES.txt ./whatsnew/whatsnew-en-US

      - name: Upload to Google Play (Set Changes Not Sent For Review)
        uses: r0adkll/upload-google-play@v1
        continue-on-error: true
        id: upload-to-google-play-set-changes-not-sent-for-review
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_JSON_CONTENT }}
          packageName: ${{ inputs.app-id  }}
          releaseFiles: app-release.aab
          track: ${{ inputs.track }}
          status: ${{ inputs.status }}
          inAppUpdatePriority: 2
          whatsNewDirectory: whatsnew
          mappingFile: mapping.txt
          debugSymbols: symbols
          changesNotSentForReview: true

      - name: Upload to Google Play (Not Set Changes Not Sent For Review)
        uses: r0adkll/upload-google-play@v1
        continue-on-error: true
        if: ${{ steps.upload-to-google-play-set-changes-not-sent-for-review.outcome == 'failure' }}
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_JSON_CONTENT }}
          packageName: ${{ inputs.app-id  }}
          releaseFiles: app-release.aab
          track: ${{ inputs.track }}
          status: ${{ inputs.status }}
          inAppUpdatePriority: 2
          whatsNewDirectory: whatsnew
          mappingFile: mapping.txt
          debugSymbols: symbols

      - if: ${{ failure() }}
        name: The job has failed
        uses: rtCamp/action-slack-notify@v2.2.0
        env:
          SLACK_MESSAGE: "Push AAB :android: to Google Play for `${{ github.event.repository.name }}` failed :x:."
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
